


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; 
}


header {
    background-color: #343a40; 
    color: #ffffff; 
}


.card {
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.card:hover {
    transform: scale(1.05); 
}


.btn-custom {
    background-color: #c44b00; 
    color: #fff; 
}

.btn-custom:hover {
    background-color: #0056b3; 
}


.container {
    margin-top: 20px; 
}


h1, h2 {
    font-weight: 700; 
}

h2 {
    margin-top: 20px; 
}
